:root{
  --c1:#103633; /* fondo profundo */
  --c2:#105656; /* fondo elevado */
  --c3:#238680; /* primario */
  --c4:#3dc4ba; /* secundario */
  --c5:#69fff8; /* acento */
  --c6:#000000; /* negro */
}